<div class="container w-xxl w-auto-xs form-box" ng-controller="SignupFormController"
    ng-init="app.settings.container = false;">
    <div class="m-b-lg">
        <div class="wrapper text-center">
            <h3>30 jours gratuits, pas d'engagement ni carte bancaire</h3>
        </div>
        <form name="form" class="form-validation" novalidate>
            <div class="m-t" data-ng-show="authError">
                <div class="alert alert-danger">
                    <p data-ng-bind-html="authError"></p>
                </div>
            </div>
            <div class="list-group list-group-sm">
                <div class="list-group-item">
                    <input type="text" placeholder="Société ou Nom" class="form-control no-border" name="nom"
                        ng-maxlength="50" ng-model="societe.nom" required autocomplete="off">
                </div><br />
                <div class="list-group-item">
                    <input type="email" placeholder="Email" class="form-control no-border" name="email"
                        ng-model="user.email" required autocomplete="off">
                </div><br />
                <div class="list-group-item">
                    <input type="text" placeholder="Nom" class="form-control no-border" name="nom" ng-model="user.nom"
                        required autocomplete="off">
                </div><br />
                <div class="list-group-item">
                    <input type="text" placeholder="Prenom" class="form-control no-border" name="prenom"
                        ng-model="user.prenom" required autocomplete="off">
                </div><br />
                <p class="help-block text-muted text-right">Ce sera l'accès administrateur pour {{app.name}} (ex :
                    admin@email.com)
                </p><br />
                <div class="list-group-item">
                    <input type="password" placeholder="Mot de passe" class="form-control no-border" name="mot de passe"
                        ng-minlength="6" ng-maxlength="100" ng-model="user.password" required>
                </div><br />
                <div class="list-group-item">
                    <input type="password" placeholder="Confirmation du mot de passe" class="form-control no-border"
                        name="confirmer mot de passe" ng-maxlength="100" compare-to="user.confPassword"
                        ng-model="user.confPassword" required>
                </div><br />
                <div class="list-group-item">
                    <input type="tel" placeholder="Téléphone" class="form-control no-border" name="téléphone"
                        ng-maxlength="30" ng-model="societe.tel" autocomplete="off" required>
                </div>
                <p class="help-block text-muted text-right">Pour assistance et support (nom obligatoire)
                </p><br />
            </div>
            <div class="m-t" data-ng-show="authSuccess">
                <div class="alert alert-success">
                    <p data-ng-bind-html="authSuccess"></p>
                </div>
            </div>
            <div class="checkbox m-b-md m-t-none">
                <label class="i-checks">
                    <input type="checkbox" name="condition" ng-model="agree" required><i></i> En créant votre compte sur
                    {{app.name}}, vous reconnaissez avoir lu et accepté les <a href>Conditions Générales
                        d'Utilisations</a>.
                </label>
            </div>
            <button type="submit" class="btn btn-lg btn-primary btn-block" ng-click="signup(form)"
                ng-disabled='form.$invalid'>Créer mon compte</button>
            <div class="line line-dashed"></div>
            <p class="text-center"><small>Vous avez déjà un compte ?</small></p>
            <a data-ui-sref="access.signin" class="btn btn-lg btn-default btn-block">Connexion</a>
        </form>
    </div>
    <div class="text-center" ng-include="'tpl/blocks/page_footer.html'"></div>
</div>