<div ng-controller="ClientsController">
    <div class="bg-light lter b-b wrapper-md">
        <h1 class="m-n font-thin h3"><i class="fa fa-users">&nbsp;</i>Liste de vos clients</h1>
        <nav class="m-t-n-lg pull-right">
            <button class="btn btn-sm btn-dark btn-addon" ng-click="addClient()"><i class="fa fa-plus"></i>Ajouter un client</button>
        </nav>
    </div>
    <div class="wrapper-md">


        <div class="panel panel-default">

            <div class="row wrapper">
                <div class="col-sm-3">
                    <div class="input-group">
                        <input type="text" class="input-sm form-control" placeholder="Search" ng-model="clientFilter">
                        <span class="input-group-btn">
                            <button class="btn btn-sm btn-default disabled" type="button"><i class="glyphicon glyphicon-search"></i></button>
                        </span>
                    </div>
                </div>
                <div class="col-sm-4"></div>
                <div class="col-sm-5 m-b-xs">
                    <div class="btn-group dropdown pull-right" data-dropdown="">
                        <button type="button" class="btn btn-default">Trier par</button>
                        <button type="button" class="btn btn-default" data-dropdown-toggle="" data-aria-haspopup="true" data-aria-expanded="false">
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li>
                                <a ng-click="orderBy('nom')">
                                    <span>Nom </span>
                                    <i class="pull-right" ng-class="{'glyphicon glyphicon-sort-by-attributes':!reverse && sort.label == 'nom', 'glyphicon glyphicon-sort-by-attributes-alt':reverse && sort.label == 'nom'}"></i>
                                </a>
                            </li>
                            <li>
                                <a ng-click="orderBy('reference')">
                                    <span>Référence </span>
                                    <i class="pull-right" ng-class="{'glyphicon glyphicon-sort-by-attributes':!reverse && sort.label == 'reference', 'glyphicon glyphicon-sort-by-attributes-alt':reverse && sort.label == 'reference'}"></i>
                                </a>
                            </li>
                            <li>
                                <a ng-click="orderBy('facture')">
                                    <span>Facture </span>
                                    <i class="pull-right" ng-class="{'glyphicon glyphicon-sort-by-attributes':!reverse && sort.label == 'facture', 'glyphicon glyphicon-sort-by-attributes-alt':reverse && sort.label == 'facture'}"></i>
                                </a>
                            </li>
                            <li>
                                <a ng-click="orderBy('solde')">
                                    <span>Solde </span>
                                    <i class="pull-right" ng-class="{'glyphicon glyphicon-sort-by-attributes':!reverse && sort.label == 'solde', 'glyphicon glyphicon-sort-by-attributes-alt':reverse && sort.label == 'solde'}"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="responsive-table table-responsive">
                <table class="table table-striped b-t b-light">
                    <thead class="cf">
                        <tr>
                            <th style="width: 30%;">CLIENT</th>
                            <th>FACTURE EN ATTENTE</th>
                            <th>SOLDE COURANT</th>
                            <th class="text-center" width="100">ACTIONS</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="client in ListeClients| filter:clientFilter | orderBy: sort.label:reverse"

                            ng-dblclick="selectClient(client.reference)">

                            <td data-title="CLIENT">
                                <h4>{{client.nom}}</h4><span class="text-muted">{{client.reference}}</span>
                            </td>
                            <td data-title="FACTURE EN ATTENTE">
                                <b>{{client.facture = 1}}</b>
                                <span ng-show="client.facture > 1"> factures impayé</span>
                                <span ng-show="client.facture == 1"> facture impayé</span>
                            </td>
                            <td data-title="SOLDE COURANT" class="text-right">
                                <span>{{client.solde}} 0 </span><b>$</b>
                            </td>
                            <td data-title="ACTIONS" class="text-right">
                                <select ng-model="action" ng-change="selectedAction(action, client.reference)">
                                    <option value="" selected>--Sélectionner une action--</option>
                                    <option value="selectClient">Voir</option>
                                    <option value="updateClient">Modifier</option>
                                    <option value="deleteClient">Supprimer</option>
                                </select>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="text-center text-bold text-muted">
                    <div ng-show="ListeClients.length <= 0" >Vous n'avez aucun client pour le moment pensez d'ajouter un en cliquant sur la bouton <span class="text-green">Ajouter un client</span>.<hr/></div>
                </div>
            </div>
            <footer class="panel-footer">
                <div class="row">
                    <div class="col-sm-4 hidden-xs">
                        <button class="btn btn-sm btn-dark btn-addon" ng-click="addClient()"><i class="fa fa-plus"></i>Ajouter un client</button>
                    </div>
                    <div class="col-sm-4 text-center">
                        <small class="text-muted inline m-t-sm m-b-sm">showing 20-30 of 50 items</small>
                    </div>
                    <div class="col-sm-4 text-right text-center-xs">                
                        <ul class="pagination pagination-sm m-t-none m-b-none">
                            <li><a href=""><i class="fa fa-chevron-left"></i></a></li>
                            <li><a href="">1</a></li>
                            <li><a href="">2</a></li>
                            <li><a href="">3</a></li>
                            <li><a href="">4</a></li>
                            <li><a href="">5</a></li>
                            <li><a href=""><i class="fa fa-chevron-right"></i></a></li>
                        </ul>
                    </div>
                </div>
            </footer>
        </div>
    </div>
</div>
