<div class="hbox hbox-auto-xs hbox-auto-sm">
    <div class="col">
        <div style="background:url(img/societes/evap/bandeau/bandeau.jpg) center center; background-size:cover">
            <div class="wrapper-lg bg-black-opacity">
                <div class="row m-t">
                    <div class="col-sm-7">
                        <a href class="thumb-lg pull-left m-r">
                            <img src="img/societes/evap/logo/evap.png" class="img-circl">
                        </a>
                        <div class="clear m-b">
                            <div class="m-b m-t-sm">
                                <span class="h3 text-white">{{app.userName}}</span>
                                <small class="m-l">Casablanca, Maroc</small>
                            </div>
                            <p class="m-b">
                                <a href class="btn btn-sm btn-bg btn-rounded btn-default btn-icon"><i class="fa fa-twitter"></i></a>
                                <a href class="btn btn-sm btn-bg btn-rounded btn-default btn-icon"><i class="fa fa-facebook"></i></a>
                                <a href class="btn btn-sm btn-bg btn-rounded btn-default btn-icon"><i class="fa fa-google-plus"></i></a>
                            </p>
                            <a href class="btn btn-sm btn-success btn-rounded">Follow</a>
                        </div>
                    </div>
                    <div class="col-sm-5">
                        <div class="pull-right pull-none-xs text-center">
                            <a href class="m-b-md inline m">
                                <span class="h3 block font-bold text-white">2k</span>
                                <small>Followers</small>
                            </a>
                            <a href class="m-b-md inline m">
                                <span class="h3 block font-bold text-white">250</span>
                                <small>Following</small>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="wrapper bg-white b-b">
 
            <tabset justified="true" class="tab-container">
                
                <tab>
                    <tab-heading>
                        <i class="glyphicon glyphicon-briefcase"></i>&nbsp; Ma société
                    </tab-heading>

                    <div class="content">
                        <h4><i class="fa fa-key"></i>&nbsp; Identifiez-vous<small>&nbsp; ces informations seront présent dans vos commandes, factures,...</small></h4>
                        <hr/>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="nomP">Nom</label>
                                    <input type="text" class="form-control" id="nomP" placeholder="Ma société" ng-model="societe.nom">
                                </div>

                                <div class="form-group">
                                    <label for="faxP">Fax</label>
                                    <input type="text" class="form-control" id="faxP" placeholder="0811 044 044" maxlength="10" numbers-only ng-model="coordones.fax">
                                </div>
                                <div class="form-group">
                                    <label for="webP">Web</label>
                                    <input type="text" class="form-control" id="webP" placeholder="http://artinove.com/" ng-model="coordones.web">
                                </div>
                                
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="emailP">Email</label>
                                    <input type="text" class="form-control" id="emailP" placeholder="elfaikm@gmail.com" ng-model="coordones.email">
                                </div>

                                
                                <div class="form-group">
                                    <label for="telephoneP">Téléphone</label>
                                    <input type="text" class="form-control" id="telephoneP" placeholder="0811 044 044" maxlength="10" numbers-only ng-model="coordones.telephone">
                                </div>
                                
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="paysP">Pays</label>
                                    <input type="text" class="form-control" id="paysP" placeholder="France" ng-model="societe.pays">
                                </div>
                                <div class="form-group">
                                    <label for="villeP">Ville</label>
                                    <input type="text" class="form-control" id="villeP" placeholder="Paris" ng-model="societe.ville">
                                </div>
                                
                                
                              
                            </div>
                            <div class="col-sm-6">
                                 
                                <div class="form-group">
                                    <label for="adresseP">Adresse</label>
                                    <textarea class="form-control" id="adresseP" placeholder="Mon adresse" ng-model="societe.adresse" rows='5'></textarea>
                                </div>
                            </div>
                        </div>

                        <hr>
                        <div class="row">
                            <div class="col-sm-6"></div>
                            <div class="col-sm-6">
                                <div class="pull-right">
                                    <button class="btn btn-sm btn-dark btn-addon" ng-click="saveInfos_societe()"><i class="fa fa-refresh"></i>Mette à jour</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </tab>

                <tab>
                    <tab-heading>
                        <i class="glyphicon glyphicon-list"></i>&nbsp; Mes coordonnées
                    </tab-heading>

                    <div class="content">
                        <h4><i class="fa fa-key"></i>&nbsp; Identifiez-vous<small>&nbsp; ces informations seront présent dans vos commandes, factures,...</small></h4>
                        <hr/>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="nomP">Nom</label>
                                    <input type="text" class="form-control" id="nomP" placeholder="Mon nom" ng-model="societe.nom">
                                </div>

                                <div class="form-group">
                                    <label for="telephoneP">Téléphone</label>
                                    <input type="text" class="form-control" id="telephoneP" placeholder="0811 044 044" maxlength="10" numbers-only ng-model="coordones.telephone">
                                </div>
                                
                                
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="emailP">Prénom</label>
                                    <input type="text" class="form-control" id="emailP" placeholder="Mon prénom" ng-model="coordones.email">
                                </div>

                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6">
                                
                                <div class="form-group">
                                    <label for="cpP">Ancien mot de passe</label>
                                    <input type="password" class="form-control" id="cpP" placeholder="******" ng-model="societe.cp">
                                </div>
                                
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="paysP">Nouveau mot de passe</label>
                                    <input type="password" class="form-control" id="paysP" placeholder="******" ng-model="societe.pays">
                                </div>
                                
                            </div>
                        </div>

                        <hr>
                        <div class="row">
                            <div class="col-sm-6"></div>
                            <div class="col-sm-6">
                                <div class="pull-right">
                                    <button class="btn btn-sm btn-dark btn-addon" ng-click="saveInfos_societe()"><i class="fa fa-refresh"></i>Mette à jour</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </tab>
                
                
                <tab>
                    <tab-heading>
                        <i class="fa fa-users"></i>&nbsp; Mes utilisateurs
                    </tab-heading>

                    <div class="content">
                        <h4><i class="glyphicon glyphicon-pencil"></i>&nbsp; Gestion d'équipe<small>&nbsp; gérer les permissions de chaque utilisateur de l'application</small></h4>
                        <hr/>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="responsive-table">
                                    <table class="col-md-12 table table-striped table-condensed cf">
                                        <thead class="cf">
                                            <tr>
                                                <th style="width:32%">E-MAIL</th>
                                                <th width="4%"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="users in ListeUsers" ng-dblclick="" >
                                                <td data-title="email" >
                                                    <span>{{users.Email}}</span>
                                                </td>
                                                <td data-title="">
                                                    <button class="btn btn-sm btn-success" ng-click="editUser($index)">
                                                        <i class="glyphicon glyphicon-pencil"></i>
                                                    </button>
                                                    <button class="btn btn-sm btn-warning" ng-click="removeUser(users.Email)">
                                                        <i class="glyphicon glyphicon-trash"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div ng-if="nbrMaxUser > 0">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="emailUser">Email</label>
                                        <input type="text" class="form-control" id="emailUser" placeholder="Saisir l'email..." ng-model="user.email">
                                    </div>
                                    <div class="form-group">
                                        <label for="pswUser">Mot de passe</label>
                                        <input type="password" class="form-control" id="pswUser" placeholder="Saisir le mot de passe..." ng-model="user.mdp" ng-show="user.editpsw">
                                        <input type="password" class="form-control" id="pswUserd" placeholder="*************" ng-model="user.mdp" ng-show="!user.editpsw" disabled>
                                        <div class="form-group" ng-show="user.oper == 2">
                                            <input type="checkbox" id="editpsw" ng-model="user.editpsw" >
                                            <label for="editpsw">Modifier mot de passe</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="type">Type</label>
                                        <select class="form-control" id="type" ng-model="permission.type" required ng-change="permissionn()">
                                            <option value="" selected>--Séléctionner une valeur--</option>
                                            <option value="0" > Web </option>
                                            <option value="1" > Nomade </option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-default" ng-show="permiss">
                                <div class="panel-heading">
                                    <h3 class="panel-title"><i class="icon ion-document-text"></i>&nbsp; Permission</h3>
                                </div>
                                <div class="panel-body" >
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <input type="checkbox"  id="clt" ng-model="permission.client">
                                                <label for="clt">Clients</label>
                                            </div>
                                            <div class="form-group">
                                                <input type="checkbox"  id="frn" ng-model="permission.fournisseur" >
                                                <label for="frn">Fournisseurs</label>
                                            </div>
                                            <div class="form-group">
                                                <input type="checkbox"  id="article" ng-model="permission.article" >
                                                <label for="article">Articles</label>
                                            </div>
                                            <div class="form-group">
                                                <input type="checkbox"  id="GpArticle" ng-model="permission.gparticle">
                                                <label for="GpArticle">Groupe d'articles</label>
                                            </div>
                                            <div class="form-group">
                                                <input type="checkbox"  id="lots" ng-model="permission.lot" >
                                                <label for="lots">Lots</label>
                                            </div>
                                            <div class="form-group">
                                                <input type="checkbox"  id="devis" ng-model="permission.devis" >
                                                <label for="devis">Devis</label>
                                            </div>

                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <input type="checkbox"  id="facture" ng-model="permission.facture">
                                                <label for="facture">Factures</label>
                                            </div>
                                            <div class="form-group">
                                                <input type="checkbox"  id="avoir" ng-model="permission.avoir" >
                                                <label for="avoir">Avoirs</label>
                                            </div>
                                            <div class="form-group">
                                                <input type="checkbox"  id="depense" ng-model="permission.depense" >
                                                <label for="depense">Depenses</label>
                                            </div>
                                            <div class="form-group">
                                                <input type="checkbox"  id="paiement" ng-model="permission.paiement" >
                                                <label for="paiement">Paiements</label>
                                            </div>
                                            <div class="form-group">
                                                <input type="checkbox"  id="acompte" ng-model="permission.acompte" >
                                                <label for="acompte">Acomptes</label>
                                            </div>
                                            <div class="form-group">
                                                <input type="checkbox"  id="compte" ng-model="permission.compte" >
                                                <label for="compte">Comptes</label>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-6"></div>
                            <div class="col-sm-6">
                                <div class="pull-right">
                                    <button class="btn btn-danger" ng-click="initialiserUser()"><i class="icon-left ion-backspace-outline"></i> Annuler</button>
                                    <button class="btn btn-success" ng-click="saveUser()">Valider <i class="icon-right ion-android-checkmark-circle"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </tab>

                <tab>
                    <tab-heading>
                        <i class="glyphicon glyphicon-leaf"></i>&nbsp; Thème
                    </tab-heading>

                    <div class="content">
                        <h4><i class="glyphicon glyphicon-tint"></i>&nbsp; Personnalisation d'application<small>&nbsp; changez votre thème</small></h4>
                        <hr/>
                    </div>
                </tab>
                
            </tabset>
        </div>
    </div>
    <div class="col w-lg bg-light lter b-l bg-auto">
        <div class="wrapper">
            <div class="">
                <h4 class="m-t-xs m-b-xs">Votre équipe</h4>
                <ul class="list-group no-bg no-borders pull-in">
                    <li class="list-group-item">
                        <a herf class="pull-left thumb-sm avatar m-r">
                            <img src="img/a4.jpg" alt="..." class="img-circle">
                            <i class="on b-white bottom"></i>
                        </a>
                        <div class="clear">
                            <div><a href>Chris Fox</a></div>
                            <small class="text-muted">Designer, Blogger</small>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <a herf class="pull-left thumb-sm avatar m-r">
                            <img src="img/a5.jpg" alt="..." class="img-circle">
                            <i class="on b-white bottom"></i>
                        </a>
                        <div class="clear">
                            <div><a href>Mogen Polish</a></div>
                            <small class="text-muted">Writter, Mag Editor</small>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <a herf class="pull-left thumb-sm avatar m-r">
                            <img src="img/a6.jpg" alt="..." class="img-circle">
                            <i class="busy b-white bottom"></i>
                        </a>
                        <div class="clear">
                            <div><a href>Joge Lucky</a></div>
                            <small class="text-muted">Art director, Movie Cut</small>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <a herf class="pull-left thumb-sm avatar m-r">
                            <img src="img/a7.jpg" alt="..." class="img-circle">
                            <i class="away b-white bottom"></i>
                        </a>
                        <div class="clear">
                            <div><a href>Folisise Chosielie</a></div>
                            <small class="text-muted">Musician, Player</small>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="panel b-a">
                <h4 class="font-thin padder">Latest Tweets</h4>
                <ul class="list-group">
                    <li class="list-group-item">
                        <p>Wellcome <a href class="text-info">@Drew Wllon</a> and play this web application template, have fun1 </p>
                        <small class="block text-muted"><i class="fa fa-fw fa-clock-o"></i> 2 minuts ago</small>
                    </li>
                    <li class="list-group-item">
                        <p>Morbi nec <a href class="text-info">@Jonathan George</a> nunc condimentum ipsum dolor sit amet, consectetur</p>
                        <small class="block text-muted"><i class="fa fa-fw fa-clock-o"></i> 1 hour ago</small>
                    </li>
                    <li class="list-group-item">                     
                        <p><a href class="text-info">@Josh Long</a> Vestibulum ullamcorper sodales nisi nec adipiscing elit. Morbi id neque quam. Aliquam sollicitudin venenatis</p>
                        <small class="block text-muted"><i class="fa fa-fw fa-clock-o"></i> 2 hours ago</small>
                    </li>
                </ul>
            </div>
            <div class="panel b-light clearfix">
                <div class="panel-body">
                    <a href class="thumb pull-left m-r">
                        <img src="img/a0.jpg" class="img-circle">
                    </a>
                    <div class="clear">
                        <a href class="text-info">@Mike Mcalidek <i class="fa fa-twitter"></i></a>
                        <small class="block text-muted">2,415 followers / 225 tweets</small>
                        <a href class="btn btn-xs btn-success m-t-xs">Follow</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>